{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">

          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  <p>Что я знаю о технологиях?</p>
                                  <p>А о технологиях Django? </p>
                                  <p>Верно, ничего. Но все-таки из этого я немножечко выжал...</p>
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>

          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                    <style>p {text-align: justify; text-indent: 25px;}</style>  
			<p>Джанго, конечно, божественен, логически божественен! Не имею ни крупинки опыта в создании сайта и кодинга Ваш покорный автор посмел бросить вызов и пошел в наступление на самого Джанго!</p>
		<p>И снаряжение позволяло, я ничего не боялся: у меня был молоток с удобнейшей деревянной рукояткой, 2 (Карл, две!) пилы - с малыми зубцами для тонкой работы и острыми крупными для твердого дерева. Сокровенный ящик содержал все лучшее, что создано человечеством на сегодня:
		шурупы черные, саморезы, дюпель-гвозди на 6 (куда без них!), болт-гайка и все в паре да еще и с шайбой. За спиной перфоратор на 750 Вт, дрель на аккумуляторной батарее (с запасной в комплекте, все продумано). Встреча могла сулить неслабые разряды - и здесь мне могли пригодиться 
		СИНЯЯ изолента, батарейки. И это не считая элитных артефактов по бокам и  в карманах: скотч, пласки, отвертки (такие и сякие). Боже, уже грозно! Да кого мы только не брали, хватало и половины артефактов!</p>
		<p>И тут ... встреча с Django, Python! Болты не вкручиваются, пила не знает с какой стороны пилить, скотч лепится во все стороны - никакого эффекта! В попытке взять хитростью молоток выскакивает с рук, последние шурупы впиваются в руки...боль! 
		<p>И на меня пошла орда джанговская: атрибуты, методы, фреймворки, циклы, дерзкие крики "это не питонячи! дай нам чистый код!", меня терзали ревьюверы и совесть, падали со всех сторон ошибки, фэйлы. Выждал паузу, взял в руки ее, ее самую - клаву, и пошел:</p>
		<p>- зарегился на GitHub, сфоркал нужные репозитарии;</p>
		<p>- установил Django, настроил окружение, создал проект, в нем сотворил приложения;</p>
		<p>- научился создавать модели, принимать и обрабатывать запросы GET и POST, готовить нужные данные через вьюху;</p>
		<p>- добавил форму, связал все это с шаблонами (которые создавались и с помощью bootstrap);</p>
		<p>- прогнал тесты, потом сам же их и создал, по крайней мере попытался - раны остались глубокие и все еще заживают, здесь была сильная борьба и она не закончена;</p>
		<p>- и какой я footer.html сделал, какой четкий получился валидатор;</p>
		<p>- прокачал целый левел по декораторам.</p>
		И стали силы выравниваться, и помощь наставников подоспела! Недельку отдохнем, и дальше, где рождаются технологии - туда, именно туда!
		      </p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}